body{
	padding:0;
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}
body:before{ 
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
#container{
	width:1024px;
	height:768px;
	padding:0px;
	margin:0 auto;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #000;
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
#header_bar{
	display:block;
	width:1024px;
	height:40px;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
}
#account_button{
	display:block;
	float:left;
	color:#fff;
	font-size:1.5em;
	padding-top:5px;
	padding-left:5px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#secondary_buttons{
	display:block;
	float:right;
	color:#fff;
}
#secondary_buttons ul{
	display:block;
	list-style:none;
}
#secondary_buttons li{
	display:block;
	float:left;
	font-size:1.5em;
}
#username{
	display:block;
	margin-top:-10px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#logout{
	display:block;
	height:40px;
	width:125px;
	border-radius: 5px 0px 0px 5px;
	background: #ffffff;
	box-shadow:inset 0 0 2px #000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	margin-left:10px;
	margin-top:-16px;
	text-align:center;
    cursor: pointer;
}
#logout :hover{
	display:block;
	height:35px;
	width:125px;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	color:#fff;
	text-align:center;
}
.logout_text{
	display:block;
	padding-top:5px;
	color:#000;
	text-decoration:none;
    width: 100%;
}
.logout_text :hover{
	display:block;
	padding:0px;
	color:#fff;
}
#class_list{
	display:block;
	float:right;
	width:170px;
	height:705px;
	margin-top:1px;
	margin-right:1px;
	outline: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 10px;
	background: #f0f0f0;
    overflow: auto;
}
#class_list_header{
	display:block;
	width:165px;
	height:40px;
	text-align:center;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	border-radius: 5px 5px 5px 5px;
}
#class_list_header a{
	display:block;
	color: #fff;
	text-decoration:none;
}
#class_list ul{
	display:block;
	text-align:center;
	list-style:none;
	margin-left:-33px;
}
#department_button{
	display:block;
    cursor: pointer;
	float:left;
	height:30px;
	width:80px;
	color: #000;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	border-radius: 5px 0px 0px 5px;
	padding-top:10px;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
#department_button:hover{
	color: #fff;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	border-radius: 5px 0px 0px 5px;
}
#class_button{
	display:block;
    cursor: pointer;
	float:left;
	height:30px;
	width:82px;
	color: #000;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	border-radius: 0px 5px 5px 0px;
	padding-top:10px;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
#class_button:hover{
	color: #fff;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	border-radius: 0px 5px 5px 0px;
}
#class_list li{
	display:block;
	width:150px;
	height:25px;
	border:1px solid #000;
	padding-top:5px;
	margin-top:10px;
	border-radius: 5px 5px 5px 5px;
	background: #000;
	color: #fff;
}
#class_list li:hover{
	box-shadow: 0px 0px 2px 2px #4bbaeb; 
}
#class_list li:nth-child(odd){
	cursor: move;
}
#class_list li:nth-child(even){
	display: block;
	float:right;
	background: #ccc;
	width: 30px;
	height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size:0.6em;
	padding-top:7px;
	margin-top: -25px;
	margin-right: 2px;
	color: #000;
	border-radius: 5px 5px 5px 5px;
}
#class_list li:nth-child(even):hover{
	box-shadow: 0px 0px 1px 1px #eb804b;
}
#class_list li.info_box *{
	color: #000;
	text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
#schedule_container{
	display:block;
	float:left;
	width:800px;
	height:650px;
	border:1px solid #000;
	margin-top:25px;
	margin-left:15px;
	outline-left: 1px solid #ddd;
	outline-right: 1px solid #ddd;
	outline-bottom: 1px solid #ddd;
	background: #f0f0f0;
}
#schedule_header{
	display:block;
	width:810px;
	height:40px;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	border-radius: 5px 5px 5px 5px;
	margin-left:-5px;
	margin-top:-10px;
	border:1px solid #000;
}
#year_select{
	display:block;
	text-align:center;
	width:810px;
	margin-left:-41px;
}
#year_select ul{
	display:block;
	list-style:none;
	width:810px;
	margin-top:0px;
	overflow:hidden;
}
#year_select li{
	float:left;
	color:#ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#year_select li a{
	color: #fff;
	text-decoration:none;
    display: block;
	width:75px;
	height:30px;
	padding-top:10px;
	display:block;
}
#year_select li:hover{
	box-shadow:inset 0px 0px 2px 2px #4bbaeb;
}
#year_select li:first-child{
	margin-left:27px;
	border-left: none;
}
#year_select li:last-child{
	border-right: none;
}
#year_select .active{
	display:block;
	background-color:#ccc;
	color:#fff;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	background-color:#ccc;
	color:#fff;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#year_select .last{
	display:block;
	border-right:1px solid #ccc;
}
#year_add{
	display:block;
	float:right;
	height: 40px;
	width: 40px;
	margin-top:-57px;
	margin-left:1px;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	border-radius: 5px 5px 5px 5px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
    cursor: pointer;
}
#year_add a{
	padding-left:8px;
	font-size:2.5em;
	color: #000;
	text-decoration:none;
}
#year_add:hover a{
	color: #4bbaeb;
}
#schedule_block .student_schedule{
	display:block;
	float:left;
	width:375px;
	height:285px;
	margin-left:15px;
	margin-top:15px;
	border:1px solid #000;
	border-radius: 5px;
}
#schedule_block .student_schedule:hover{
	box-shadow: inset 0px 0px 1px 1px #000;
}
#SPRING{
	background: #fff;
	background-image:url('images/spring.png');
}
#SUMMER{
	background: #fff;
	background-image:url('images/summer.png');
}
#FALL{
	background: #fff;
	background-image:url('images/fall.png');
}
#WINTER{
	background: #fff;
	background-image:url('images/winter.png');			
}

#class_object{
	display:block;
	height:35px;
	width:362px;
	border:1px solid #000;
	margin-top:5px;
	margin-left:5px;
}
#class_object:hover{
	box-shadow: 0px 0px 2px 2px #4bbaeb; 
}
#class_object ul{
	display:block;
	list-style:none;
}
#class_name{
	display:block;
	float:left;
	width:150px;
	height:35px;
	background-color:#000;
	color:#fff;
	margin-top:-16px;
	margin-left:-40px;
	text-align:center;
	border-radius: 0px 8px 8px 0px;
	z-index:1;
	position: relative;
	cursor: move;
}
#class_name .class_name_text{
	display:block;
	font-size:1.5em;
	padding-top:5px;
}
#class_info{
	display:block;
	float:left;
	width:75px;
	height:35px;
	background-color:#ccc;
	border-right:1px solid #000;
	color:#000;
	text-align:center;
	margin-left:-5px;
	margin-top:-16px;
	z-index:2;
	cursor: pointer;
}
#class_info:hover{
	box-shadow: inset 0px 0px 1px 1px #eb804b;
	width:100px;
}
#class_info .class_info_text{
	display:block;
	font-size:1.25em;
	padding-top:7px;
}
#class_info a{
	color: #000;
	text-decoration:none;
}
#class_delete{
	display:block;
	float:right;
	width:35px;
	height:35px;
	border-left:1px solid #000;
	margin-top:-16px;
	text-align:center;
}
#class_delete:hover {
    background: red;
}
#class_delete button{
	display:block;
    width: 100%;
	font-size:1.5em;
	color:#ff0000;
	text-decoration:none;
	margin-top:5px;
    background: none;
    border: none;
}
#class_delete button:hover{
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#footer{
	display:block;
	float:left;
	width: 1024px;
	height: 25px;
	background: #45484d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	border:1px solid #000;
	text-align:center;
	margin-left:-1px;
}
#footer_text{
	display:block;
	padding-top:5px;
	color: #fff;
	font-size:0.6em;
}
/* LOGIN PAGE STYLE */
#warning_box, #warning_box_register{
	display:none;
    height:25px;
    width:500px;
	margin:0 auto;
    padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
    background-color: #FF4848;
	border:1px dotted #000;
    border-radius: 3px;
	text-align:center;
}
#tagline{
    width: 400px;
    position: relative;
    margin: 30px auto 0px;
	text-align:center;
	font-size:2.0em;
    font-weight:700;
    box-shadow: 
        inset 0 0 1px 1px rgba(255,255,255,0.08), 
        0 10px 10px -10px rgba(0, 0, 0, 0.6);
}

#tagline2{
    width: 400px;
    position: relative;
    margin: 50px auto 0px;
	text-align:center;
	font-size:1.5em;
    font-weight:700;
    box-shadow: 
        inset 0 0 1px 1px rgba(255,255,255,0.08), 
        0 10px 10px -10px rgba(0, 0, 0, 0.6);
}
#notfound{
    text-align: center;
}

	/* login form original code from: http://tympanus.net/Tutorials/CustomLoginFormStyling/index3.html
		heavily modified by Jeremy Chavez
	*/
.login{
    font-weight:400;
    width: 300px;
    position: relative;
    margin: 30px auto 30px;
    padding: 10px;
    overflow: hidden;
    background: #f6f6f6;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
.login label{
    width: 50%;
    float: left;
    padding-top: 9px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 400;
}
.login input[type=text], .login input[type=password]{
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    background: #000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    color: #fff;

}
.login input[type=text]:hover, .login input[type=password]:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
}
.login input[type=text]:focus, .login input[type=password]:focus{
    box-shadow: inset 0 0 2px #000;
    background: #000;
    border-color: #4bbaeb;
    outline: none;
}
.login p:nth-child(3){
    float: left;
    width: 50%;
}
.login input[type=submit]{
    width: 100%;
	margin-left:75px;
    padding: 8px 5px;
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #4bbaeb;
    cursor:pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
.login input[type=submit]:hover{ 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
.login input[type=submit]:active{ 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000;
    border-color: rgba(0,0,0,0.9);
}

/* REGISTER */
.register{
    font-weight:400;
    width: 300px;
    position: relative;
    margin: 30px auto 30px;
    padding: 10px;
    overflow: hidden;
    background: #f6f6f6;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
.register label{
    width: 50%;
    float: left;
    padding-top: 9px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 400;
}
.register input[type=text], .register input[type=password]{
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    background: #000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    color: #fff;

}
.register input[type=text]:hover, .register input[type=password]:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
}
.register input[type=text]:focus, .register input[type=password]:focus{
    box-shadow: inset 0 0 2px #000;
    background: #000;
    border-color: #4bbaeb;
    outline: none;
}
.register input[type=submit]{
    width: 150px;
	margin-left:75px;
    padding: 8px 5px;
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #4bbaeb;
    cursor:pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
.register input[type=submit]:hover{ 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
.register input[type=submit]:active{ 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000;
    border-color: rgba(0,0,0,0.9);
}
/* MODAL DIALOG BOX STYLE
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */
#modal {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url('/static/images/x.png'); no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
